/* http://meyerweb.com/eric/tools/css/reset/
   v4.0 | 20180602
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

progress::-webkit-progress-bar {
  background: #fefefe; }

progress::-webkit-progress-value {
  background: #22aa66; }

*, *:before, *:after {
  box-sizing: inherit; }

html {
  font-family: "Josefin Sans";
  box-sizing: border-box;
  background: #fefefe; }

.wrapper {
  margin: 0 auto;
  padding: 1rem;
  font-size: 2rem;
  text-align: center;
  width: 75%; }
  .wrapper .about {
    width: 50%;
    margin: 3rem auto;
    font-weight: 200; }
    .wrapper .about strong {
      font-weight: 400; }
    .wrapper .about .twitter {
      color: #22aa66; }
  .wrapper .header {
    font-size: 4rem; }
  .wrapper #projects {
    text-align: center;
    width: 50%;
    margin: 0 auto; }
    .wrapper #projects .project {
      font-weight: 200;
      margin-top: 2rem;
      box-shadow: 3px 3px 1px rgba(51, 51, 51, 0.2);
      background: rgba(51, 51, 51, 0.01);
      padding: 1rem;
      transition: 0.2s background; }
      .wrapper #projects .project:hover {
        transform: translateY(-2px);
        background: rgba(51, 51, 51, 0.04); }
      .wrapper #projects .project a {
        color: #22aa66;
        text-decoration: none;
        font-weight: 400; }
        .wrapper #projects .project a:hover {
          text-decoration: underline; }
      .wrapper #projects .project p {
        padding: 1rem 0 1rem 0; }
  .wrapper .progress-wrapper {
    margin: 1rem auto;
    width: 25%; }
    .wrapper .progress-wrapper #days-left, .wrapper .progress-wrapper #days-left-percent {
      display: block;
      margin: 1rem auto; }
    .wrapper .progress-wrapper #days-left-percent {
      border: 1px solid #22aa66;
      background: #fefefe;
      width: 100%;
      height: 2rem; }
      .wrapper .progress-wrapper #days-left-percent #days-left-percent-bar {
        background: #22aa66;
        width: 0%;
        height: 2rem;
        transition: 0.2s width; }

@media (max-width: 650px) {
  .wrapper {
    width: 100%; }
    .wrapper .about {
      width: 75%; }
    .wrapper .progress-wrapper {
      width: 50%; } }
